<!-- Footer -->
<footer id="ftr" class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h3>gIve</h3>
            <p>Making it easy for you to be a gIver.
            </p>
            <ul class="social">
                <li>
                    <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                </li>
                <li>
                    <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                </li>
                <li>
                    <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                </li>
                <li>
                    <a href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                </li>
                <li>
                    <a href="#">
                            <i class="fa fa-youtube"></i>
                        </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-1">
            <h3>Causes</h3>
            <div>
                <a href="#">Children</a>
            </div>
            <div>
                <a href="#">Disabled</a>
            </div>
            <div>
                <a href="#">Environment</a>
            </div>
            <div>
                <a href="#">Education</a>
            </div>
        </div>
        <div class="col-sm-2 col-sm-offset-1">
            <h3>Recent Events</h3>
            <div>
                <a href="#">
                        <span class="glyphicon glyphicon glyphicon-heart"></span> From Africa with love</a>
            </div>
            <div>
                <a href="#">
                        <span class="glyphicon glyphicon glyphicon-heart"></span> Make the world beautiful.</a>
            </div>
            <div>
                <a href="#">
                        <span class="glyphicon glyphicon glyphicon-heart"></span> A good day to remember.</a>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <h3>Contact</h3>
            <address>
                    <p>35 Walk way street,
                        <br> Bristol. USA</p>
                    <a href="mailto:give@dummy.com">Email : contact@gIve.com</a>
                    <br>
                    <abbr title="Phone">
                        <span class="glyphicon glyphicon-phone"></span>
                    </abbr>+91-3983XX78655
                </address>
        </div>
    </div>
</footer>

<!-- Scripts Below -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/search.js"></script>
<script src="assets/js/app.js"></script>