body {
    background: #fff !important;
    font-weight: 400;
}

/*--contact-banner-section--*/

.contact-banner-section {
    position: relative;
    top: 55px;
    background: linear-gradient(#0006, #0006), url(../img/contact-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 125px;

}

.contact-heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.down {
    border: 2px solid #fff;
    padding: 3px 15px;
    border-radius: 50%;
    position: relative;
    top: 50px;
}

.down i {
    color: #fff;
    position: absolute;
    top: 8px;
    left: 8px;
}

/*----*/
