.edit-btn {
    padding: 0 10px 10px 0;
    margin-top: -3rem;
}

.event {
    height: 15rem;
    background-color: #4cb5f582;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.event-img {
    padding: 0;
}

.event-img, .event-details {
    height: 100%;
    display: flex;
}

.event-details {
    display: flex;
    flex-direction: column;
}

.event-title {
    color: #34675c;
    border-bottom: 1px solid #fff;
}

.event-description {
    color: #34675c;
}