.tabbable {
    margin-top: 4rem;
}

.tab-content {
    margin-top: 5rem;
}

#cause .dropdown {
    margin-bottom: 2rem;
}

#location .dropdown {
    display: inline-block;
    margin-bottom: 4rem;
}

.btn-pine {
    background-color: #34675c;
    color: #fff;
}





.edit-btn {
    padding: 0 10px 10px 0;
    margin-top: -3rem;
    display: none;
}

.btn-pine {
    background-color: #34675c;
    color: #fff;
}

.event {
    height: 15rem;
    background-color: #d4d6dc;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.event-img {
    padding: 0;
}

.event-img, .event-details {
    height: 100%;
    display: flex;
}

.event-details {
    display: flex;
    flex-direction: column;
}

.event-title {
    color: #34675c;
    border-bottom: 1px solid #fff;
}

.event-description {
    color: #34675c;
}