
/**
** All css regarding index.html will go here
**/

.home-container {
    margin-top: 5rem;
}

.social {
    width: 80%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.social li {
    display: inline-block;
    float: left;
}

#ftr {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background: url(../imgs/help.png) repeat-x bottom;
    background-color: #34675c;
    color: #fff;
}

#ftr h3 {
    color: #a3d6f5;
}

#ftr .row {
    background-color: #34675c;
    opacity: .8;
}

.glyphicon-heart {
    color: orange;
}

/* unvisited link */
#ftr a:link {
    color: #fff;
}

/* visited link */
#ftr a:visited {
    color: #fff;
}

/* mouse over link */
#ftr a:hover {
    color: #cc1;
}

/* selected link */
#ftr a:active {
    color: yellow;
}