
/**
** All css regarding index.html will go here
**/

.home-container {
    margin-top: 5rem;
}

.slide{
    width: 100%;
}

.item {
    height: 600px;
}

.carousel-caption {
    background-color: #b3c100;
    opacity: 0.9;
    border-radius: 5px;
}

.eventsHeader{
    text-align: center;
    color: #34675c;
} 

hr {
    border: 1px solid #34675c;
}

.caption{
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    margin: 0 0 25px 20px;
    background-color: #34675c;
    color: white;
    opacity: 0.8;
}

.thumbnail .caption {
    padding: 9px;
    color: white;
}