<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <link rel="stylesheet" href="/assets/css/404.css">
</head>

<body>

   <% include ../partials/header %> 

   <div class="container sec-pad">
       <div id="content-area">
            <div class="jumbotron custom">
                    <div class="row text-center">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h3>Opps!!</h3>
                            <h1>404</h1>
                            <h2>Page Not Found!!</h2>
                            <h3>Goto: <a href="/">HomePage</a></h3>
                        </div>
                    </div>
                </div>
       </div>
    </div>
       

    <% include ../partials/footer %>

</body>

</html>