<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
        <link rel="stylesheet" href="/assets/css/aboutUs.css"></link>
</head>

<body>
    <% include ../partials/header %>
        <div id="content-area">
            <div class="container-fluid">
                <div class='row'>
                    <div class="col-sm-8 col-sm-offset-2">
                        <p class="header">Why gIve?</p>
                        <p>The origin of
                            <strong class="subHeader">gIve</strong> lies in the belief that most people aspire to be contributors. We aspire to give
                            back to causes that align with our personal values. A common way to do this is through nonprofits
                            who focus on the areas that we care for. The problem however can be to
                            <strong>quickly</strong> and
                            <strong>easily</strong> find a nonprofit that is not only genuine but also meets other criteria that
                            we may have, be it the right location, the correct philosophy/vision or anything else.
                        </p>

                        <p>
                            At
                            <strong class="subHeader">gIve</strong>, we believe that a common meeting ground between the nonprofits and the contributors
                            (whom we like to call ‘gIvers') that allows for a fast and informed connection between the two
                            sides will be of great value for all.
                        </p>

                        <p>
                            That is what
                            <strong class="subHeader">gIve</strong> strives to do.
                        </p>
                        <hr>

                        <p class="header">How gIve works?</p>
                        <p class="subHeader">For Nonprofits:</p>
                        <ul>
                            <li>gIve allows nonprofits to create an account/profile on the app with all necessary details.
                            </li>
                            <li>They also have the ability to create events that they are organizing and post them on gIve. These
                                events are highlighted on the home page of the app.
                            </li>
                            <li>The nonprofit user has the opportunity to control the message being passed on to the community
                                about their organization.
                            </li>
                        </ul>
                        <p class="subHeader">For gIvers:
                        </p>
                        <ul>
                            <li>A gIver can search for nonprofits of interests based on location, focus area or name.
                            </li>
                            <li>They have access to all details regarding the nonprofit on their profile pages including direct
                                contact details.
                            </li>
                            <li>A gIver also has the option to leave a brief note for the non-profit requesting them to contact
                                the gIver.
                            </li>
                            <li>They can contact the gIve team for any type of support via a contact form or by connecting to
                                the gIve social media platfoms via the app.
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <p class="header">Our Team</p>
                        <p class="name">Ashish Verma</p>
                        <img src="https://s.gravatar.com/avatar/fcbe9b7522196db8949e750012f9470f?s=400" class="pull-right img-responsive" width="150"
                            height="200">
                        <p>A JavaScript developer by heart who loves to code and explore new places when not coding. Currently
                            trying to enhance SW development skills to contribute to open-source projects.Running and Sleeping
                            are his favourite hobbies. He lives online as zashishz apart from twitter where his handle is
                            @ashishburps</p>
                        <p>
                            Ashish contributes to gIve as a developer.
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <p class="name">Omor Faruque</p>
                        <img src="assets/imgs/omor.jpg" class="pull-right img-responsive" width="150" height="200">
                        <p>A third year student pursuing BSc in CS, Omor dreams of becoming a full-stack web developer. His
                            interests include football, cricket, gaming, movies, anime and travelling.
                        </p>
                        <p>
                            Omor contributes to gIve as a developer.
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <p class="name">Minoy Jose</p>
                        <img src="assets/imgs/minoy.jpg" class="pull-right img-responsive" width="150" height="200">
                        <p>
                            Minoy works a Senior Business Analyst for a bank. Not so long ago he got intrigued by what is 'under the hood' of the web
                            app that he was managing. That is where his web development journey began. He is an avid traveller,
                            loves to read, writes occasionally and appreciates good food at all times!
                        </p>

                        <p>Minoy contributes to gIve as a developer and product manager. </p>
                    </div>
                </div>
            </div>
        </div>

    <% include ../partials/footer %>       
</body>

</html>