<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="assets/css/contact.css">
</head>
<body>
    <% include ../partials/header %>

    <div id="content-area">
        <!--contact section-->
        <section class="container-fluid contact-banner-section">
            <div class="container text-center">
                <h1 class="contact-heading">Get in Touch</h1>
                <span class="down">
                    <i class="fa fa-arrow-down"></i>
                </span>
            </div>
        </section>


        <section class="container-fluid contact-form-section">
            <div class="container">

                <div class="row">

                    <div class="col-md-8">
                        <h2>Send A mail</h2>
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Last name" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Fast name" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email Address" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" name="usrtel" class="form-control" placeholder="Telephone" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" placeholder="Message" rows="7" required></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary send-btn">
                                        <i class="fa fa-paper-plane-o"></i>
                                        Send</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-4 contact-us-padding">
                        <h2>Contact Us</h2>
                        <div class="row">
                            <div class="col-md-12 col-sm-4">
                                <span class="contact-icons">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <span class="location-section">
                                    <h3>Address</h3>
                                    <address>
                                        ###, Walk way street
                                        <br> City, Country
                                    </address>
                                </span>
                            </div>
                            <div class="col-md-12 col-sm-4">
                                <span class="contact-icons">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <span class="location-section">
                                    <h3>Phone</h3>
                                    <p>+01#########</p>
                                </span>
                            </div>
                            <div class="col-md-12 col-sm-4">
                                <span class="contact-icons">
                                    <i class="fa fa-envelope-o"></i>
                                </span>
                                <span class="location-section">
                                    <h3>Email</h3>
                                    <p>exampl@example.com</p>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <% include ../partials/footer %>

</body>
</html>