<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>

    <div id="content-area">
        <div class="container-fluid main-content">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="text-center">Event Registration</h2>
                    <form>
                        <div class="form-group">
                            <label for="title">Event Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Demo Title">
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="date">Event Date</label>
                                    <input type="date" class="form-control" id="date" placeholder="mm:dd:yyyy">
                                </div>
                            </div>
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="form-group">
                                    <label for="banner">Event Banner</label>
                                    <input type="file" id="banner">
                                    <p class="help-block">Please add Event Banner Here.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="venue">Event Venue</label>
                            <textarea class="form-control" id="venue" placeholder="Venue" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="state_province">State/Province</label>
                            <input type="text" class="form-control" id="state_province" placeholder="State">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" placeholder="City">
                        </div>
                        <div class="form-group">
                            <label for="pincode">Pin Code:</label>
                            <input type="text" class="form-control" id="pincode" placeholder="XXXXXXX">
                        </div>
                        <div class="form-group">
                            <label for="sector">Sector</label>
                            <select id="sector" class="form-control">
                                <option>Children</option>
                                <option>Disabled</option>
                                <option>Education</option>
                                <option>Environment</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description">Event Description</label>
                            <textarea class="form-control" id="description" placeholder="Description" rows="3"></textarea>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="agreement"> I Agree to terms of use
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-default">Submit</button>
                                <button type="cancel" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>
</body>

</html>
