<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/assets/css/edituser.css">
</head>
<body>
    <% include ../partials/header %>

    <div id="content-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <p class="pull-right">Profile Status -
                        <strong class="lead text-success">Verified</strong>
                    </p>
                </div>
            </div>
            <h3 class="text-center">Nonprofit Registration</h3>
            <br>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form id="edituser">
                        <h4>Nonprofit Details</h4>
                        <hr>
                        <div class="form-group">
                            <label for="nonprofitName">Nonprofit Name:</label>
                            <input type="text" class="form-control" id="nonprofitName" placeholder="Ex: XYZ Org">
                        </div>
                        <div class="form-group">
                            <label for="website">Nonprofit Website (if any)</label>
                            <input type="text" class="form-control" id="website" placeholder="http://example.org">
                        </div>
                        <div class="form-group">
                            <label for="cause">Nonprofit Cause/Focus:</label>
                            <select id="cause" class="form-control">
                                <option>--select--</option>
                                <option>Children</option>
                                <option>Disabled</option>
                                <option>Education</option>
                                <option>Environment</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mission">Nonprofit Vision</label>
                            <textarea class="form-control" id="mission" placeholder="Nonprofit's Vision" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="description">Nonprofit Description</label>
                            <textarea class="form-control" id="description" placeholder="What does your Nonprofit do?" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="idupload">Nonprofit ID Upload</label>
                            <input type="file" id="idupload">
                            <p class="help-block">Please add one pdf containing all proofs.</p>
                        </div>
                        <br>
                        <h4>Point of Contact</h4>
                        <hr>
                        <div class="form-group">
                            <label for="poc_name">Name</label>
                            <input type="text" class="form-control" id="poc_name" placeholder="Point of Contact for NGO Ex: Minoy">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <br>
                        <h4>Address</h4>
                        <hr>
                        <div class="form-group">
                            <label for="address">Street/Building:</label>
                            <textarea class="form-control" id="address" placeholder="Address" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" id="country" placeholder="Country">
                        </div>
                        <div class="form-group">
                            <label for="state_province">State/Province</label>
                            <input type="text" class="form-control" id="state_province" placeholder="State">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" placeholder="City">
                        </div>
                        <div class="form-group">
                            <label for="pincode">Pin Code:</label>
                            <input type="text" class="form-control" id="pincode" placeholder="XXXXXXX">
                        </div>
                        <br>
                        <h4>Login Credentials</h4>
                        <hr>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Ex: xyz_ngo">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Min 8 Characters">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="agreement"> I agree to all terms and conditions of use.
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-pine">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>
</body>
</html>