<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/assets/css/eventlist.css"></link>
</head>

<body>
    <% include ../partials/header %>

    <div id="content-area">
        <div class="container-fluid main-content">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-2 no-p-left">
                    <div class="btn btn-pine btn-add_event add_btn">Add New Event</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row">
                        <% events.map((event) => { %>
                            <div class="event">
                                    <div class="col-sm-3 event-img">
                                        <img src="/assets/imgs/charity.jpg" class="img-responsive img-rounded" alt="">
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-1 event-details">
                                        <h2 class="event-title"><%= event.title %></h2>
                                        <p class="event-description"><%= event.description %></p>
                                    </div>
                                    <a href="/events/edit/<%= event.id %>"</a><span class="edit-btn glyphicon glyphicon-pencil pull-right"></span></a> 
                                </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>
</body>

</html>
